<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CodeStar | Advanced AI-powered coding assistant.{% endblock %}</title>
  <meta name="description"
    content="CodeStar is an advanced AI-powered coding assistant designed to enhance developer productivity by providing intelligent code suggestions and natural language interactions.">

  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<body>
  <header></header>
  <main>{% block content %}{% endblock %}</main>
  <footer></footer>
</body>

</html>