{% extends 'code_star_demo/layout.html' %}

{% block content %}
<div class="prose prose-lg lg:prose-xl xl:prose-2xl m-auto mb-20 grid bg-transparent max-w-6xl px-4 py-8">
  <h1>
    Unlock the Power of Conversational Coding with
    <span class="bg-gradient-to-l from-sky-400 to-lime-500 bg-clip-text text-transparent">
      CodeStar Chat
    </span>
  </h1>

  <p>
    With CodeStar, coding becomes a collaborative experience. Our AI-powered chat feature allows you to interact
    naturally, making coding more intuitive and efficient.
  </p>

  <a href="{% url 'code-star:chats:list' %}"
    class="flex items-center justify-center gap-4 rounded-lg bg-sky-400 bg-gradient-to-r from-sky-400 to-lime-400 px-6 py-3 font-semibold uppercase tracking-wide text-white shadow-sm ring-1 ring-sky-500 transition-all hover:bg-sky-500 hover:to-violet-500 hover:ring-violet-500 focus:ring-8 focus:ring-sky-300 focus:ring-opacity-50 focus:ring-offset-2 focus:hover:ring-violet-300 active:scale-95">
    <span>Get started</span>

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-6">
      <path d="m9 18 6-6-6-6" />
    </svg>
  </a>

  <h2>
    Engage in
    <span class="bg-gradient-to-r from-red-600 to-yellow-400 bg-clip-text text-transparent">Natural Conversations</span>
  </h2>

  <div class="grid grid-cols-12 gap-8">
    <div
      class="group relative col-span-12 overflow-hidden rounded-xl border border-stone-300/75 p-6 transition-all hover:scale-110 hover:rounded-3xl hover:shadow-xl md:col-span-6">
      <div
        class="absolute bottom-4 right-8 -z-10 h-64 w-64 scale-0 rounded-full bg-gradient-to-tr from-green-400 to-cyan-400 blur-3xl transition-all duration-700 group-hover:scale-100">
      </div>
      <h3>Ask Anything</h3>
      <p>
        Whether you need help with a coding problem, want to understand a concept, or seek best practices, simply ask
        CodeStar. Our AI understands your queries and provides clear, concise answers tailored to your needs.
      </p>
    </div>
    <div
      class="group relative col-span-12 overflow-hidden rounded-xl border border-stone-300/75 p-6 transition-all hover:scale-110 hover:rounded-3xl hover:shadow-xl md:col-span-6">
      <div
        class="absolute right-8 top-12 -z-10 h-64 w-64 scale-0 rounded-full bg-gradient-to-r from-red-400 to-yellow-400 blur-3xl transition-all duration-700 group-hover:scale-100">
      </div>
      <h3>Instant Code Snippet</h3>
      <p>
        Need a quick code example? Just request it! CodeStar can generate code snippets on demand, saving you time and
        effort. From simple functions to complex algorithms, get the code you need in seconds.
      </p>
    </div>
    <div
      class="group relative col-span-12 overflow-hidden rounded-xl border border-stone-300/75 p-6 transition-all hover:scale-110 hover:rounded-3xl hover:shadow-xl md:col-span-6">
      <div
        class="absolute left-20 top-4 -z-10 h-64 w-64 scale-0 rounded-full bg-gradient-to-l to-violet-400 from-fuchsia-500 blur-3xl transition-all duration-700 group-hover:scale-100">
      </div>
      <h3>Debugging Made Easy</h3>
      <p>
        Stuck on an error? Describe the issue in plain language, and CodeStar will help you troubleshoot. Our AI
        analyzes your code and suggests potential fixes, guiding you through the debugging process.
      </p>
    </div>
    <div
      class="group relative col-span-12 overflow-hidden rounded-xl border border-stone-300/75 p-6 transition-all hover:scale-110 hover:rounded-3xl hover:shadow-xl md:col-span-6">
      <div
        class="absolute right-4 top-8 -z-10 h-64 w-64 scale-0 rounded-full bg-gradient-to-r from-pink-600 to-pink-200 blur-3xl transition-all duration-700 group-hover:scale-100">
      </div>
      <h3>Learning on the Go</h3>
      <p>
        Use the chat feature to enhance your learning. Ask CodeStar for explanations of coding concepts, and receive
        detailed insights that deepen your understanding and improve your skills.
      </p>
    </div>
  </div>

  <h2>
    <span class="bg-gradient-to-r from-sky-400 to-pink-400 bg-clip-text text-transparent">
      Transform
    </span>
    Your Coding Journey
  </h2>
  <p>
    Experience a new way to code with CodeStar’s chat feature. Engage in meaningful conversations that enhance your
    productivity and learning. Join the community of developers who are redefining coding with the power of AI.
  </p>
</div>
{% endblock %}